name: Package and release templates

on:
  push:
    branches: [ master ]
  workflow_dispatch:

jobs:
  package:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        template: [
          Default,
          3D\ Printing
        ]
    steps:
      - uses: actions/checkout@master
      - name: Package ${{ matrix.template }} Template
        uses: thedoctor0/zip-release@main
        with:
          type: 'zip'
          filename: '${{ matrix.template }}.zip'
          path: ./${{ matrix.template }}
