name: Package and release templates

on:
  push:
    branches: [ master ]
  workflow_dispatch:

jobs:
  package:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        template: [
          Default,
          3D Printing
        ]
    steps:
      - uses: actions/checkout@v3.0.2
      - run: zip -r "${{ matrix.template }}.zip" "./${{ matrix.template }}"
      - uses: actions/upload-artifact@v3.1.0
        with:
          name: ${{ matrix.template }}
          path: "./${{ matrix.template }}.zip"
  release:
    needs: [ package ]
    runs-on: ubuntu-latest
    steps:
      - uses: actions/download-artifact@v3.0.0
      - run: mv ./**/*.zip .
      - run: ls -R
